In [1]:
%load_ext sql
%sql mysql+mysqlconnector://root:root@localhost/test

In [2]:
%%sql 
use spotify_db

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [3]:
%%sql
select * from spotify_tracks

 * mysql+mysqlconnector://root:***@localhost/test
10 rows affected.

[(1, 'Ordinary Person (From "Leo")', 'Anirudh Ravichander', 'Ordinary Person (From "Leo")', 63, 2.32),
 (2, 'Ayyayo', 'G. V. Prakash', 'Aadukalam (Original Motion Picture Soundtrack)', 70, 5.40622),
 (3, 'Pirai Thedum', 'Saindhavi', 'Mayakkam Enna', 73, 5.54518),
 (4, 'Ava Enna', 'Harris Jayaraj', 'Vaaranam Aayiram (Original Motion Picture Soundtrack)', 67, 5.30822),
 (5, 'Psycho Kanmani', 'Havoc Brothers', 'Psycho Kanmani', 37, 4.26667),
 (6, 'Nee Singam Dhan', 'A.R. Rahman', 'Pathu Thala (Original Motion Picture Soundtrack)', 70, 4.1299),
 (7, 'Oru Devathai', 'Yuvan Shankar Raja', 'Vaamanan (Original Motion Picture Soundtrack)', 63, 4.946),
 (8, 'Monica', 'Anirudh Ravichander', 'Coolie (Original Motion Picture Soundtrack)', 68, 3.62712),
 (9, 'Thalapathy Kacheri (From "Jana Nayagan")', 'Anirudh Ravichander', 'Thalapathy Kacheri (From "Jana Nayagan")', 76, 3.28507),
 (10, 'Ichu Ichu', 'Vijay Antony', 'Vedi (Original Motion Picture Soundtrack)', 65, 3.7783)]

In [13]:
%%sql
/* Most popular song*/
select track_name, artist, album, popularity
from spotify_tracks
order by popularity desc
limit 1;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[('Thalapathy Kacheri (From "Jana Nayagan")', 'Anirudh Ravichander', 'Thalapathy Kacheri (From "Jana Nayagan")', 76)]

In [14]:
%%sql
/* Average of over all song*/
select AVG(popularity) as Average_popularity
from spotify_tracks

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[(Decimal('65.5714'),)]

In [16]:
%%sql
/* duration 5 minutes above*/
select track_name, artist, duration_minutes
from spotify_tracks
where duration_minutes > 5.0;

 * mysql+mysqlconnector://root:***@localhost/test
7 rows affected.

[('Ayyayo', 'G. V. Prakash', 5.40622),
 ('Pirai Thedum', 'Saindhavi', 5.54518),
 ('Ava Enna', 'Harris Jayaraj', 5.30822),
 ('Vaarayo Vaarayo', 'Harris Jayaraj', 5.278),
 ('Ayyayo', 'G. V. Prakash', 5.40622),
 ('Pirai Thedum', 'Saindhavi', 5.54518),
 ('Ava Enna', 'Harris Jayaraj', 5.30822)]

In [17]:
%%sql
/*popular range in case statement*/
select 
    case
        when popularity >= 80 then 'Very Popular'
        when popularity >=50 then 'Popular'
        else 'Less Popular'
    end as popularity_range,
    count(*) as track_count
from spotify_tracks
group by popularity_range

 * mysql+mysqlconnector://root:***@localhost/test
2 rows affected.

[('Popular', 19), ('Less Popular', 2)]

In [19]:
%%sql
/*longest track*/
select track_name, artist, duration_minutes
from spotify_tracks
order by duration_minutes desc
limit 1;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[('Pirai Thedum', 'Saindhavi', 5.54518)]

In [20]:
%%sql
/*shortest track*/
select track_name, artist, duration_minutes
from spotify_tracks
order by duration_minutes asc
limit 1

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[('Ordinary Person (From "Leo")', 'Anirudh Ravichander', 2.32)]

In [21]:
%%sql
/*Unique artists*/
SELECT DISTINCT artist
FROM spotify_tracks;

 * mysql+mysqlconnector://root:***@localhost/test
8 rows affected.

[('Anirudh Ravichander',),
 ('G. V. Prakash',),
 ('Saindhavi',),
 ('Harris Jayaraj',),
 ('Havoc Brothers',),
 ('A.R. Rahman',),
 ('Yuvan Shankar Raja',),
 ('Vijay Antony',)]

In [24]:
%%sql
/*Average durartion of track*/
select avg(duration_minutes) as avg_duration
from spotify_tracks

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[(4.309682528177897,)]

In [26]:
%%sql
/*Tracks with popularity > average popularity*/
select track_name, artist, popularity
from spotify_tracks
where popularity > (select avg(popularity) from spotify_tracks);

 * mysql+mysqlconnector://root:***@localhost/test
13 rows affected.

[('Ayyayo', 'G. V. Prakash', 70),
 ('Pirai Thedum', 'Saindhavi', 73),
 ('Ava Enna', 'Harris Jayaraj', 67),
 ('Nee Singam Dhan', 'A.R. Rahman', 70),
 ('Monica', 'Anirudh Ravichander', 68),
 ('Thalapathy Kacheri (From "Jana Nayagan")', 'Anirudh Ravichander', 76),
 ('Vaarayo Vaarayo', 'Harris Jayaraj', 73),
 ('Ayyayo', 'G. V. Prakash', 70),
 ('Pirai Thedum', 'Saindhavi', 73),
 ('Ava Enna', 'Harris Jayaraj', 67),
 ('Nee Singam Dhan', 'A.R. Rahman', 70),
 ('Monica', 'Anirudh Ravichander', 68),
 ('Thalapathy Kacheri (From "Jana Nayagan")', 'Anirudh Ravichander', 76)]

In [35]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:root@localhost/spotify_db")
folder = r"C:\Users\abdul\OneDrive\Desktop\New folder"

queries = {
    "open spotify_tracks" : """select * from spotify_tracks""",
    
    "Most popular song" : """select track_name, artist, album, popularity
                             from spotify_tracks
                             order by popularity desc
                             limit 1;""",
    
    "Average of over all son" :"""select AVG(popularity) as Average_popularity
                                  from spotify_tracks""",
    
    "duration 5 minutes above" :"""select track_name, artist, duration_minutes
                                   from spotify_tracks
                                   where duration_minutes > 5.0;""",
    
    "popular range in case statement" :"""select 
                                                case
                                                   when popularity >= 80 then 'Very Popular'
                                                   when popularity >=50 then 'Popular'
                                                  else 'Less Popular'
                                                end as popularity_range,
                                                count(*) as track_count
                                         from spotify_tracks
                                         group by popularity_range""",
    
    "longest trac" :"""select track_name, artist, duration_minutes
                       from spotify_tracks
                       order by duration_minutes desc
                       limit 1;""",
    
    "shortest track" : """select track_name, artist, duration_minutes
                          from spotify_tracks
                          order by duration_minutes asc
                          limit 1""",
    
    "Unique artists" : """SELECT DISTINCT artist
                          FROM spotify_tracks;""",

    "Average durartion of track" : """select avg(duration_minutes) as avg_duration
                                      from spotify_tracks""",

    "Tracks with popularity above average popularity" : """select track_name, artist, popularity
                                                       from spotify_tracks
                                                        where popularity > (select avg(popularity) from spotify_tracks);"""

}


for name, query in queries.items():
    try:
        df = pd.read_sql(query, engine)
        file_path = f"{folder}\\{name}.csv"
        df.to_csv(file_path, index=False)
        print(f"✅ Saved {file_path}")
    except Exception as e:
        print(f"❌ Error in query '{name}': {e}")

✅ Saved C:\Users\abdul\OneDrive\Desktop\New folder\open spotify_tracks.csv
✅ Saved C:\Users\abdul\OneDrive\Desktop\New folder\Most popular song.csv
✅ Saved C:\Users\abdul\OneDrive\Desktop\New folder\Average of over all son.csv
✅ Saved C:\Users\abdul\OneDrive\Desktop\New folder\duration 5 minutes above.csv
✅ Saved C:\Users\abdul\OneDrive\Desktop\New folder\popular range in case statement.csv
✅ Saved C:\Users\abdul\OneDrive\Desktop\New folder\longest trac.csv
✅ Saved C:\Users\abdul\OneDrive\Desktop\New folder\shortest track.csv
✅ Saved C:\Users\abdul\OneDrive\Desktop\New folder\Unique artists.csv
✅ Saved C:\Users\abdul\OneDrive\Desktop\New folder\Average durartion of track.csv
✅ Saved C:\Users\abdul\OneDrive\Desktop\New folder\Tracks with popularity above average popularity.csv